<!-- componente hijo -->
<div class="item"> <!-- class="container" -->
    
    <!-- <div class="row">
        <div class="col"> 
            <div > -->

                <ul>
                    <li>
                        <a  [routerLink] = "['personas/', indice]" [queryParams]="{modoEdicion:'1'}" > <!-- router link con property binding para pasar el indice como parametro-->
                            {{ persona.nombre }} {{ persona.apellido }}
                        </a>
                    </li>
                </ul>

                <!--<input type="checkbox" (click)="emitirIndice()" />
                 <p> {{ indice + 1}} : {{ persona.nombre }} {{ persona.apellido }} </p> -->
                <!-- boton para editar -->
                <!-- <button type="submit" class="btn btn-info" (click)="emitirIndice()">Editar</button>-->
            <!-- </div>
        </div>
    </div> -->
</div>
