<div style="text-align: center;">
  <button style="cursor: pointer;" (click)="agregarPersona()">+</button>
</div>

<div class="box">
    <!-- se incluye el componente hijo -->
    <app-persona *ngFor="let item of personas; let cont = index" [persona] = "item" [indice] = "cont">
      <!-- se iteran los elementos -->
    </app-persona>
    
  </div>
  
  <!-- <div class="box"> -->
     <!-- <app-formulario (personaCreada)="personaAgregada($event)"></app-formulario> -->
     <!-- <app-formulario></app-formulario> -->
  <!-- </div> -->
  
  <router-outlet></router-outlet>